.logReg__form{
    display: flex;
    flex-direction:column;
    gap:5px; 
    box-shadow:0 0 5px white; 
    padding:60px; 
    background-color:var(--second-color);
    border-radius: 10px;
}

.logReg__form label{
    font-size: 1.25em;
    color: var(--third-color);
    margin-bottom: 5px;
}

/* .logReg__form label ~ .logReg__input:has(:focus ,:valid){
    color: var(--fourth-color);
} */
.logReg__input{
    border: none;
    background-color: var(--second-color); 
    border-bottom:2px var(--third-color) solid; 
    width: 100%; 
    outline: none;
    margin-bottom: 20px;
    font-size: 1.25em;
    padding:5px;
    transition: var(--transition-standard);
    transition-duration:0.25s ;
}

.logReg__input:focus, .logReg__input:valid{
    border: 2px var(--fourth-color) solid;
    border-radius: 15px;
    /* box-shadow: 0 0 5px; */

}




.logReg__button{
    font-size: 1.25em;
    color: white;
    background-color:var(--second-color); 
    border-radius:25px;
    border:2px var(--third-color) solid; 
    padding: 3%;
    width: 75%;
    place-self: center;
    transition: var(--transition-standard);    
}

.logReg__button:hover{
    letter-spacing: 5px;
    /* background-color:blue; */
    box-shadow: 0 0 5px;
    border-color: var(--fourth-color);
}

.logReg__question{
    text-align: center;
    color: var(--fourth-color) !important;
    cursor:pointer;

}

.logReg__question:hover{
    text-shadow: 0 0 2px white;
}